body{
  background-color: black;
  padding: 15px;
}

.main{
  width: 600px;
  margin: auto;
  padding: 40px;
  border-left: 1px solid lightseagreen;
  border-right: 1px solid lightseagreen;
  border-radius: 20px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  max-height: 98%;
}

@media (max-width: 650px){
  .main{
    margin: 20px 20px 0;
    width: auto;
  }
  .time p{
    width: auto;
  }
}

.time{
  margin: 50px auto;
  max-width: 400px;
  font-size: 3.5em;
  font-family: 'Rock Salt', cursive;
  padding: 10px;
  color: lightseagreen;
}

.logo{
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: 'Rock Salt', cursive;
  font-size: 1.5em;
  color: lightseagreen;


}

button {
  background-color: black;
  font-size: 1.4rem;
  color: lightgoldenrodyellow;
  padding: 0.8rem;
  border: 1px solid darkgrey;
  border-radius: 20px;
  text-transform: uppercase;
  margin: 3px;
  width: 220px;
  height: 80px;
}


button:hover {
  border: 1px solid lightskyblue;
  border-radius: 20px;
  color: lightskyblue ;
}

.addOrRemove{
background-color: darkcyan;
width: 60px;
height: 60px;
}

.addOrRemove:hover{
  color: black;
}


.minutes{
  background-color: black;
  font-size: 8px;
  color: lightgoldenrodyellow;
  border: 1px solid lightgoldenrodyellow;
  border-radius: 20px;
  margin: 3px;
}

img{
  max-width: 70px;
}

.toggle{
  font-size: 100px;
}

