body{
  background-color: grey;
}

.timer{
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 40px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #fff;
  min-height: 200px;
}

button{
  margin: 10px;
}

.time{
  display: inline-block;
  width: 70%;
  margin: 0 auto;
}

.time p{
  text-align: center;
  font-size: 30px;
}

.buttons{
  float: right;
  width: 20%;
}

img{
  max-width: 70px;
}

@media (max-width: 650px){
  .app-content{
    margin: 20px 20px 0;
    width: auto;
  }
}