body{
  background-color: grey;
}

.container{
margin: 0 auto;
max-width: 90%;
}

.app-content{
  width: 600px;
  margin: 0 auto;
  padding: 40px;
}

.app-child{
  text-align: center;
}

@media (max-width: 650px){
  .app-content{
    margin: 20px 20px 0;
    width: auto;
  }
}